@font-face {
  src: "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans+TC:wght@500&display=swap";
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
